.Listening__audio-visualizer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.Listening__audio-bar {
  flex: 1;
  background-color: white;
  border-radius: 100vw;
}
