html
    head    
        block head
        link(rel='stylesheet', href='/Views/Wizards/devices/devices.css')
    body 
        block content
        link(rel='stylesheet', href='/Views/Wizards/devices/devices.css')