html
    head    
        block head
        link(rel='stylesheet', href='/stylesheets/agenda.css')
    body 
        block navbar
        block content
        link(rel='stylesheet', href='/stylesheets/agenda.css')