extends layout
  
block head 
  h1= "RANIA Dashboard"
  p Welcome to the WVU RANIA Dashboard

block content
  div(class='login')
    form(action="")
      label(for="username") Username: 
      input(type="text" placeholder="Enter Username" name="username" required)

      p

      label(for="password") Password:  
      input(type="password" placeholder="Enter Password" name="password" required)

      p

      button(type="submit") Login 