extends layout 

block head
    title= "RANIA Dashboard"

block navbar 
    nav 
            ul 
                li
                    a(href="") Dashboard
                li
                    a(href="") Agenda
                li
                    a(href="") Settings
                li 
                    a(href="") Logout

block content
    h1="Resident Agenda will be here."