extends layout 
block head 
    title=title 

block navbar1
    nav 
        a(href="/welcome") Home
        a(href="/dashboard") Dashboard
        a(href="/agenda") Agenda
        a(href="/settings") Settings
        a(href="/") Logout

block navbar2 
    div.btn-group
        button(onclick="/settings/addDevice") Add Device
        button(onclick="/settings/removeDevice") Remove Device
        button(onclick="/settings/editSmartDevice") Edit Smart Devices
    div.btn-group
        button(onclick="/settings/editResident") Edit Resident Information
        button(onclick="/settings/editContact") Edit Contact Information
        button(onclick="/settings/exportData") Export Data
