<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>RANIA Dashboard - Settings</title>
    <link href="../../public/stylesheets/dashboard.css" rel="stylesheet">
  </head>
  <body class="sb-nav-fixed">
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav id="sidenavAccordion" class="sb-sidenav accordion sb-sidenav-dark">
          <div class="sb-sidenav-menu">
            <div class="nav">
              <a class="nav-title" href="index.html">RANIA Home</a>
              <div class="sb-sidenav-menu-heading">Settings</div>
              <a class="nav-link" href="#">Manage Devices</a>
              <a class="nav-link" href="#">Edit Resident Info</a>
              <a class="nav-link" href="#">Edit Contact Info</a>
              <a class="nav-link" href="#">Send Data To...</a>
            </div>
          </div>
          <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            UserName
          </div>
        </nav>
      </div>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-6">
            <h1 class="mt-4">Settings</h1>
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="card mb-4">
                  <div class="card-header">Manage Devices</div>
                  <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in lorem in velit porttitor lobortis. Donec eget velit sed purus ullamcorper consectetur.</p>
                    <a href="#" class="btn btn-primary">Manage Devices</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="card mb-4">
                  <div class="card-header">Edit Resident Info</div>
                  <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in lorem in velit porttitor lobortis. Donec eget velit sed purus ullamcorper consectetur.</p>
                    <a href="#" class="btn btn-primary">Edit Resident Info</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="card mb-4">
                  <div class="card-header">Edit Contact Info</div>
                  <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in lorem in velit porttitor lobortis. Donec eget velit sed purus ullamcorper consectetur.</p>
                    <a href="#" class="btn btn-primary">Edit Contact Info</a>
                  </div>
                </div>
              </div>
              
          <div class="col-lg-6 col-md-12">
            <div class="card mb-4">
              <div class="card-header">Send Data To...</div>
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in lorem in velit porttitor lobortis. Donec eget velit sed purus ullamcorper consectetur.</p>
                <a href="#" class="btn btn-primary">Send Data To...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<script crossorigin="anonymous" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
