.col {
    flex: 1 0 0%;

}

.col-auto {
    flex: 0 0 auto;

    width: auto;
    padding: 1pc;
}

.col-1 {
    flex: 0 0 auto;
    width: auto;
    background-image: linear-gradient(to bottom, rgba(0, 112, 182, 0.4), rgb(0, 112, 182, 0.15));
    background-color: rgba(0, 40, 85, 1);
    margin: 1pc;
    padding: 1pc;
    border: 1px solid rgba(170, 216, 228, 0.3);
    border-radius: 5px;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 75%), 0 8px 10px 1px rgb(0 0 0 / 60%), 0 3px 14px 2px rgb(0 0 0 / 50%);
}

.col-2 {
    flex: 0 0 auto;
    width: auto;
    background-image: linear-gradient(to bottom, rgba(0, 112, 182, 0.4), rgb(0, 112, 182, 0.15));
    background-color: rgba(0, 40, 85, 1);
    margin: 1pc;
    padding: 1pc;
    border-radius: 5px;
    border: 1px solid rgba(170, 216, 228, 0.3);
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 75%), 0 8px 10px 1px rgb(0 0 0 / 60%), 0 3px 14px 2px rgb(0 0 0 / 50%);
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}