.dbBackground{
    background-color: #002855;
}
.dbContainer {
    background-color: #1C2B39;
  }
  
  .dbHeading {
    color: #FFE539;
  }
  
  .dbDevice {
    color: #BEB7B3;
    background-color: #1C2B39;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    padding-right: 50px;
  }
  
  .dbButton {
    color: #0062A3;
    background-color: #1C2B39;
    border: 0px;
  }
  
  .dbContent {
    color: #BEB7B3
  }
  